$breakpoint-tablet: 767px;
$breakpoint-small-device: 992px;

.lets-talk {

    button, a {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
        margin-top: 30%;
        border-radius: 1rem;
        color: #000;

        @media (max-width: $breakpoint-small-device) {
            font-size: 1.5rem;
        }

        @media (max-width: $breakpoint-tablet) {
            font-size: 1rem;
            padding: 0.5rem;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            margin-top: 6%;
            border-radius: 0.25rem;
        }


    }

    .lets-talk-img {

        text-align: left;

        img {
            max-width: 250px;
            width: 100%;
            height: auto;
        }

        @media (max-width: $breakpoint-tablet) {
            text-align: center;

            img {
                max-width: 160px;
            }
        }

    }
}