$breakpoint-tablet: 767px;
$breakpoint-min-small-device: 768px;

.project-list {

    .custom-contain {

        @media (max-width: $breakpoint-min-small-device) {
            padding: 2rem 0;
        }

        @media (min-width: $breakpoint-min-small-device) {
            padding-bottom: 5rem;
        }

        h1 {
            text-align: left;
            text-decoration: underline;
            font-size: 2rem;
            margin-bottom: 2rem;
            font-weight: bold;
        }
    
        .content-container {
    
            text-align: left;
            padding: 3rem 2rem;
    
            .project-text {
                line-height: 2rem;
                font-size: 1.25rem;
                letter-spacing: .05rem;
            }
    
            .btn-wrap {
    
                text-align: center;
                padding-top: 2rem;
    
                .btn-grad {
                    font-size: 1.25rem;
                }
            }
        }

        .content-container-dark {
            background-color: rgba(196, 196, 196, 0.1);
        }

        .content-container-light {
            background-color: rgba(0, 0, 0, 0.1);
        }
    
        .img-content {
            img {
                width: 100%;
                height: auto;
                max-width: 500px;
            }
        }
        .carousel-item {
            .img-content {
                text-align: center;
                padding-bottom: 1rem;
                margin: 0 auto;
                max-width: 700px;

                img {
                    height: auto;
                    max-width: 100%;
                    width: auto;
                }
            }
            .carousel-caption {
                position: relative;
                left: auto;
                right: auto;
                font-size: 1.25rem;
            }
        }
    }
}