.custom-modal-style {

    .modal-content {
        border-radius: 1.5rem;
        background-color: #FF658A;
    }

    .modal-title {
        font-family: 'Poppins-Bold';
        padding: 2rem;
        font-size: 2rem;
        color: #000;
        padding-bottom: 0;
    }

    .modal-body {
        padding: 2rem;
        padding-top: 0;

        .bubble-one {
            color: green;
            font-size: 1.5rem;
            position: absolute;
            right: 0%;
            position: absolute;
            top: -4rem;
            right: 0rem;
            opacity: 0.5;
            z-index: 1;
        }

        .form-group {
            z-index: 99999999;
            overflow: auto;
        }

        .form-control {
            color: black;
        }

        .custom-btn-submit {
            font-family: 'Poppins-Medium';
            background-color: #21A8F3;
            border-color: #21A8F3;
            color: black;
            font-size: 1.15rem;
        }

        .form-control {
            padding-bottom: 0;
        }

        .form-control:focus {
            box-shadow: none;
        }

        input::placeholder { 
            color: black;
            font-size: 1.15rem;
        }

        input::placeholder {
            color: black;
            font-size: 1.15rem;
        }

        input::-moz-placeholder {
            color: black;
            opacity: 1;
            font-size: 1.15rem;
        }

        textarea::-webkit-input-placeholder {
            color: black;
            font-size: 1.15rem;
        }
          
        textarea:-moz-placeholder { /* Firefox 18- */
            color: black;
            font-size: 1.15rem;
        }

        textarea::-moz-placeholder {  /* Firefox 19+ */
            color:black; 
            font-size: 1.15rem;
        }

        textarea:-ms-input-placeholder {
            color: black;  
            font-size: 1.15rem;
        }

        textarea::placeholder {
            color:black;  
            font-size: 1.15rem;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active {
            box-shadow: 0 0 0 30px #FF658A inset !important;
        }

        .question-text {
            border:none;
            border-bottom: 2px solid black;
            background-color: #FF658A;
            outline: none;
            margin: 2rem 0;
        }

    }

    .modal-header {
        border-bottom: none;
    }

    .modal-center {
        text-align: center;
        display: block;
        margin-top: 1rem;
    }

}