.custom-modal-style {

    .modal-content {
        border-radius: 1.5rem;
        background-color: #FF658A;
        overflow: hidden;
        z-index: -1;
    }

    .modal-title {
        font-family: 'Kalam-Bold';
        padding: 2rem;
        font-size: 2rem;
        color: #000;
        padding-bottom: 0;
    }

    .modal-body {
        padding: 2rem;
        padding-top: 0;

        .bubble-one {
            color: #00FF0A;
            font-size: 1.5rem;
            position: absolute;
            top: -4rem;
            right: -2rem;
            opacity: 0.5;
            z-index: 1;
        }

        .position-two {
            top: 21rem;
            color: #FFA800;
            right: -1.5rem;
        }

        .position-three {
            position: absolute;
            color: #00FF94;
            right: 0;
            opacity: 0.5;
            left: -1rem;
            bottom: 0%;
            z-index: -1;
            top: 22rem;
        }

        .form-group {
            z-index: 99999999;
            overflow: auto;
        }

        .form-control {
            color: black;
        }

        .custom-btn-submit {
            font-family: 'Kalam-Regular';
            background-color: #21A8F3;
            border-color: #21A8F3;
            color: black;
            font-size: 1.15rem;
            z-index: 9999999;
        }

        .form-control {
            padding-bottom: 0;
        }

        .form-control:focus {
            box-shadow: none;
        }

        input::placeholder { 
            color: black;
            font-size: 1.15rem;
        }

        input::placeholder {
            color: black;
            font-size: 1.15rem;
        }

        input::-moz-placeholder {
            color: black;
            opacity: 1;
            font-size: 1.15rem;
        }

        textarea::-webkit-input-placeholder {
            color: black;
            font-size: 1.15rem;
        }
          
        textarea:-moz-placeholder { /* Firefox 18- */
            color: black;
            font-size: 1.15rem;
        }

        textarea::-moz-placeholder {  /* Firefox 19+ */
            color:black; 
            font-size: 1.15rem;
        }

        textarea:-ms-input-placeholder {
            color: black;  
            font-size: 1.15rem;
        }

        textarea::placeholder {
            color:black;  
            font-size: 1.15rem;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active {
            box-shadow: 0 0 0 30px #FF658A inset !important;
        }

        .question-text {
            border: none;
            border-bottom: 2px solid black;
            background-color: #FF658A;
            outline: none;
            margin: 2rem 0;
            margin-bottom: 0rem;
        }

        .custom-label {
            float: right;
            font-size: 0.7rem;
            color: black;
            font-family: 'Kalam-Bold';
        }

    }

    .modal-header {
        border-bottom: none;
    }

    .modal-center {
        text-align: center;
        display: block;
        margin-top: 2rem;
    }

}