@font-face {
  font-family: 'Poppins';
  src: url('./Assets/Fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('./Assets//Fonts//Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./Assets//Fonts/Poppins/Poppins-Bold.ttf')
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('./Assets//Fonts/Poppins/Poppins-Light.ttf');
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
