$breakpoint-tablet: 767px;
$breakpoint-min-small-device: 768px;

.section-wrapper {

    background-image: url('../../Assets/Images/background.png');
    background-size: cover;
    vertical-align: middle;

    .content-section {

        font-family: 'Poppins-Light';
        font-size: 1.5rem;
        font-weight: 100;
        margin: 2rem 0rem;
    
        .section-title {
            text-align: left;
            font-family: 'Poppins-Bold';
            text-transform: uppercase;
            color: #3137C2;
            font-size: 2.75rem;
            margin-bottom: 1.25rem;

            @media (max-width: $breakpoint-tablet) {
                margin-bottom: .5rem;
                font-size: 2rem;
                text-align: center;
            }

        }
    
        .custom-row-spacing {
            padding: 2rem 0;
        }
    
        .text-content {

            @media (min-width: $breakpoint-min-small-device) {
                text-align: left;
            }
    
            .section-sub-title {
                font-family: 'Poppins-Medium';
                text-transform: capitalize;
                font-size: 2.25rem;
                margin-bottom: 1.5rem;
            }
    
            .blue-section-sub-title {
                font-family: 'Poppins-Bold';
                color: #3137C2;
                text-transform: capitalize;
                font-size: 2.25rem;
                margin-bottom: 1.5rem;
            }
    
        }
    
        .image-content {
            img {
                max-width: 350px;
                width: 100%;
                height: auto;

                @media (max-width: $breakpoint-tablet) {
                    max-width: 280px;
                }

            }
        }
    }

    .download-btn {
        font-size: 1.5rem;
        margin: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        color: #000;
    }

}
