$breakpoint-tablet: 767px;

.jay-footer{

    padding: 3rem 0rem;
    background: #C4C4C4;

    .contact-text {
        font-size: 2rem;
    }

    .open-mail {
        color: darkred;
    }

    @media (max-width: $breakpoint-tablet) {
        .contact-text {
            font-size: 1.5rem;
        }
        svg {
            font-size: 2rem;
        }
    }

}